# Core Build Outputs
dist/
dist-ssr/
*.local

# Dependencies
node_modules/

# Logs & Diagnostics
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment Configurations
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor / IDE Directories
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swo
*.swp

# OS System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# TypeScript Compilation Cache
*.tsbuildinfo
